header
    .hamburger.hamburger--squeeze
        .hamburger-box
            .hamburger-inner
    .breadcrumb
        li.sidebar__logo--phone
            a(href='#')
                img(class="color-logo" src='../../img/profile_logo.svg', alt='logo')
        a.breadcrumb__item(href='#') Home
        img.breadcrumb__separator(src='../../img/right-arrow.svg', alt='right arrow')
        a.breadcrumb__item(href='#') Search
        img.breadcrumb__separator(src='../../img/right-arrow.svg', alt='right arrow')
        a.breadcrumb__item(href='#') Results
    .profile
        span.profile__name Sarah Freeman
        i.fas.fa-chevron-down